<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Acesso não permitido</title>
</head>
<body>
  <div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="form-group border border-secondary">
      <div class="text-danger">
        Acesso proibido click <a href="/login">Aqui</a> para voltar a tela de login.
      </div>

  </div>
</div>
</body>
</html>